{% extends 'base.html' %}

{% block content %}
  <i class="fa-solid fa-heart" style="color:red"></i>
  <i class="fa-solid fa-heart"></i>
  <i class="fa-solid fa-thumbs-up" style="color:blue"></i>
  <i class="fa-solid fa-thumbs-up"></i>
  <h1>DETAIL</h1>
  <h6>{{ article.pk }}번 글</h6>
  <hr>
  <h5>제목 : {{ article.title }}</h5>
  <div class="d-flex">
    <form action="{% url 'articles:likes' article.pk %}" method="POST">
      {% csrf_token %}
      {% if user in article.like_users.all %}
        <button class="btn btn-outline-light btn-sm" type="submit">
          <i class="fa-solid fa-heart mx-1" style="color:red" type="submit"> {{ article.like_users.all|length }} </i>
        </button>
      {% else %}
        <button class="btn btn-outline-light btn-sm" type="submit">
          <i class="fa-solid fa-heart mx-1" style="color:black" type="submit"> {{ article.like_users.all|length }} </i>
        </button>
      {% endif %}
    </form>
    <p class="text-primary mx-2">글쓴이 : {{ article.user }}</p>
    <p class="mx-3 text-secondary"> 작성 : {{ article.created_at }}</p>  
    
    <p class="text-secondary mx-2"> 수정 : {{ article.updated_at }}</p>
  </div>
  <p>내용 : {{ article.content }}</p>
  <hr>

  <div class="d-flex mx-1">
    {% if request.user == article.user %}
    <a href="{% url 'articles:update' article.pk %}"><button type="button" class="btn btn-primary mx-1">수정</button></a>
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="btn btn-secondary mx-1" value="삭제">
    </form>
    {% endif %}
    <a href="{% url 'articles:index' %}"><button type="button" class="btn btn-primary mx-1">뒤로</button></a>
  </div>
  
  <hr>
  <h5>댓글 목록</h5>
  <ul>
    {% for comment in comments %}
      <li>
        {{comment.user}} : {{ comment.content }}
        
        <span class="d-flex">
          <form action="{% url 'articles:comment_likes' article.pk comment.pk %}" method="POST">
            {% csrf_token %}
            {% if user in comment.like_users.all %}
              <button class="btn btn-outline-light btn-sm" type="submit">
                <i class="fa-solid fa-thumbs-up mx-1" style="color:blue" type="submit"> {{ comment.like_users.all|length }} </i>
              </button>
            {% else %}
              <button class="btn btn-outline-light btn-sm" type="submit">
                <i class="fa-solid fa-thumbs-up mx-1" style="color:black" type="submit"> {{ comment.like_users.all|length }} </i>
              </button>
            {% endif %}
          </form>
          {% if request.user == comment.user %}
            <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
              {% csrf_token %}
              <input type="submit" class="btn btn-secondary btn-sm mx-3" value="삭제">
            </form>
          {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit" class="btn btn-outline-primary btn-sm" value="작성">
    </form>

  {% else %}
    <a href=""><button class="btn btn-outline-secondary btn-sm" type="submit">댓글을 작성하려면 로그인 하세요.</button></a>
  {% endif %}
  
{% endblock content %}