{% extends 'base.html' %}

{% block content %}
<h1>INDEX</h1>
<hr>
{% if request.user.is_authenticated %}
  <a href="{% url 'todos:new' %}"><button type="button" class="btn btn-primary">NEW</button></a>
{% else %}
  <a href="{% url 'accounts:login' %}"><button type="button" class="btn btn-primary">새 글을 작성하려면 로그인을 하세요.</button></a>
{% endif %}
<hr>
{% if request.user.is_authenticated %}
  {% for todo in todos %}
    <div>
      <h1>할 일 : {{ todo.title }}</h1>
      <p>작성자 : {{ todo.author }}</p>
      <p>완료 여부 : {{ todo.completed }} </p>
    </div>
    <hr>
  {% endfor %}

{% endif %}
{% endblock content %}